@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body{
        @apply bg-gray-100;
    }

      h1 {
        @apply text-xl font-medium capitalize;
      }
}


  
  .link {
    @apply p-2.5 flex rounded-md gap-6 items-center md:cursor-pointer cursor-default duration-300 font-medium  hover:bg-blue-100 hover:text-blue-600  ;
  }
  
  .active {
    @apply bg-blue-100 text-blue-600;
  }

  .blockUIConfL {
    position: fixed;
    top: 50%;
    overflow: auto;
    /* please change the margin-top and margin-left here 
       * make sure the margin-top equals 1/2 loading img's height 
       * and the margin-left equals 1/2 loading img's width */
    margin: -50px 0 0 -50px;
  }
  
  .backdropL {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.95;
  }
  
  .modal-backdropL {
    z-index: 100000000000000000000000000000000040;
    background-color: rgb(249, 249, 249);
  }
  
  .modalL {
    position: absolute;
    left: 50%;
    z-index: 100000000000000000000000000000000050;
  }
  
  .loaderL {
    z-index: 9999;
    background: 50% 50% no-repeat rgb(249, 249, 249);
  }
  
  .loading-imgL {
    left: 50%;
  }
  
  .loading-msjL {
    left: 50%;
    padding-top: 90px;
  }
  

  .my-table {
    margin: 0 auto; /* Centrar la tabla horizontalmente */
    border-collapse: collapse; /* Colapsar bordes de la tabla */
}

.my-table td,
.my-table th {
    border: 1px solid black; /* Establecer bordes de celdas */
    padding: 8px; /* Añadir espacio interno a celdas */
}

.my-table tr {
    height: 40px; /* Establecer altura de filas */
}