.blockUIConfL {
    position: fixed;
    top: 50%;
    overflow: auto;
    /* please change the margin-top and margin-left here 
       * make sure the margin-top equals 1/2 loading img's height 
       * and the margin-left equals 1/2 loading img's width */
    margin: -50px 0 0 -50px;
  }
  
  .backdropL {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.95;
  }
  
  .modal-backdropL {
    z-index: 100000000000000000000000000000000040;
    background-color: rgb(249, 249, 249);
  }
  
  .modalL {
    position: absolute;
    left: 50%;
    z-index: 100000000000000000000000000000000050;
  }
  
  .loaderL {
    z-index: 9999;
    background: 50% 50% no-repeat rgb(249, 249, 249);
  }
  
  .loading-imgL {
    left: 50%;
  }
  
  .loading-msjL {
    left: 50%;
    padding-top: 90px;
  }
  